* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://image.cdn2.seaart.ai/2023-06-14/34240702894149/13c87ce7674d959d24851ff0aa0c25fbf7dbe9d2_high.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Coloca header y main en columna */
    min-height: 100vh; /* Asegura que el body ocupe todo el alto de la pantalla */
}

header {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permite que el main crezca y se centre */
    width: 100%;
}

main h1 {
    text-align: center;
    font-size: 6.25rem;
    margin-top: 20px;
}
